<br>
<div class="container-fluid">
  <% if notice %>
  <h4><aside id="notice"><%= notice %></aside></h4>
  <% end %>
</div>

<div class="my-3 p-3 bg-body rounded shadow-sm">
  <div class="cadastro">
    <h1 class="mt-5">APP Municipes</h1>
    <hr>
    <p class="lead">Área do Administrador - Cadastro de cidadãos: </p>
<table>

  <tfoot>
    <tr>
      <td colspan="3">
      <div class="btn btn-primary">
        <h5><%= link_to 'Novo Cadastro >>', new_municipe_path %> </h5>
      </div>
      </td>
    </tr>
  </tfoot>
  <tbody>
   <h6 class="border-bottom pb-2 mb-0">Recent updates</h6>
   <% @municipes.each do |municipe| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">

        <td class="image">
          <%= image_tag(municipe.image_url, class: 'list_image') %>
        </td>

        <td class="description">
          <h5>Nome: <%= municipe.nome %></h5>
          <h5>CPF: <%= municipe.cpf %></h5>
          <h5>CNS: <%= municipe.cns %></h5>
          <h5>E-mail: <%= municipe.email %></h5>
          <h5>Data de Nascimento: <%= municipe.nascimento.strftime("%d/%m/%Y") %></h5>
          <h5>Telefone: <%= municipe.telefone %></h5>
          <h5>Status: <%= municipe.status %></h5>
        </td>
      </tr>
      <td class="actions">
         <ul>
          <div class="btn btn-outline-primary">
            <%= link_to 'Mostrar', municipe %>
            </div>
            <div class="btn btn-outline-primary">
            <%= link_to 'Editar', edit_municipe_path(municipe) %>
            </div>
            <div class="btn btn-outline-primary">
          
              <%= link_to 'Deletar',
                           municipe, 
                          method: :delete,
                          data: { confirm: 'Are you sure?' } %>
            </div>
          </ul>
          <hr>
        </td>
    <% end %>
  </tbody>
</table>
</div>
</div>

