
<h1><%= @municipe.nome %></h1>
<p><%= @municipe.cpf %></p>
<p><%= @municipe.cns %></p>
<p><%= @municipe.email %></p>
<p><%= @municipe.nascimento %></p>
<p><%= @municipe.telefone %></p>
<p> <%= @municipe.image_url %></p>
<p><%= @municipe.status %></p>

<ul>
<%= link_to 'Edit', edit_municipe_path(@municipe) %> |
<%= link_to 'Back', municipes_path %>
<%= link_to "Destroy", municipe_path(@municipe),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
</ul>
<hr>

<h2>Enderecos:</h2>
<%= render @municipe.enderecos %>

<h2>Cadastro de Enderecos:</h2>
<%= render 'enderecos/form' %>