<div class="container-sm">
<div class="row">
<h3>Endereço Cadastrado:<hr></h3>
<br><br>
<p>
  <strong>Cep:</strong>
  <%= endereco.cep %>
</p>

<p>
  <strong>Logradouro:</strong>
  <%= endereco.logradouro %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= endereco.complemento %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= endereco.cidade %>
</p>

<p>
  <strong>Uf:</strong>
  <%= endereco.uf %>
</p>

<p>
  <strong>Ibge:</strong>
  <%= endereco.ibge %>
</p>

 <%= link_to 'Apagar Endereço', [endereco.municipe, endereco],
              method: :delete,
              data: { confirm: "Are you sure?" } %>
</div>
</div>
<hr>