<%= form_with model: [ @municipe, @municipe.enderecos.build ] do |form| %>
  
<div class="container-sm">
  <div class="row">
  <p>
    <%= form.label :cep %><br>
    <%= form.text_field  :cep %>
  </p>
  <p>
    <%= form.label :logradouro %><br>
    <%= form.text_field  :logradouro %>
  </p>
  <p>
    <%= form.label :numero %><br>
    <%= form.text_field  :numero %>
  </p>
  <p>
    <%= form.label :complemento %><br>
    <%= form.text_field  :complemento %>
  </p>
  <p>
    <%= form.label :cidade %><br>
    <%= form.text_field  :cidade %>
  </p>
  <p>
    <%= form.label :uf %><br>
    <%= form.text_field  :uf %>
  </p>
  <p>
    <%= form.label :ibge %><br>
    <%= form.text_field  :ibge %>
  </p>
  <p>
    <%= form.submit %>
  </p>
  </div>
  </div>
  <br><br>
<% end %>


